<div class="table">
    <div class="row">
        <div class="col">
            <div class="table">
                <div class="row">
                    <div class="col">
                        <StatusIndicator Title="Engine RPMS" Message="@SensorsSummary.EngineRpms.ToString()"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <StatusIndicator Title="Air Intake" Message="@($"{SensorsSummary.AirIntake}°{SensorsSummary.TemperatureType.ToString("F").FirstOrDefault()}")"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <StatusIndicator Title="Coolant" Message="@($"{SensorsSummary.Coolant}°{SensorsSummary.TemperatureType.ToString("F").FirstOrDefault()}")"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <StatusIndicator Title="Battery Voltage" Message="@($"{SensorsSummary.BatteryVoltage} V")"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <img class="center" src="images/car-sensors.png" style="height:100%; object-fit: contain; display: block; margin-left: auto; margin-right: auto;"/>
        </div>
        <div class="col">
            <div class="table">
                <div class="row">
                    <div class="col">
                        <StatusIndicator Title="Tire Pressure">
                            <MessageFragment>
                                <div class="table" style="color:white;text-align: center;">
                                    <div class="row">
                                        <div class="col">
                                            @SensorsSummary.FrontDriverSideTirePsi PSI
                                        </div>
                                        <div class="col">
                                            @SensorsSummary.FrontPassengerSideTirePsi PSI
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            @SensorsSummary.BackDriverSideTirePsi PSI
                                        </div>
                                        <div class="col">
                                            @SensorsSummary.BackPassengerSideTirePsi PSI
                                        </div>
                                    </div>
                                </div>
                            </MessageFragment>
                        </StatusIndicator>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <StatusIndicator Title="Engine Oil Life" Message="@($"{SensorsSummary.EngineOilLife} Miles")"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <StatusIndicator Title="Washer Fluid Level" Message="@SensorsSummary.WasherFluidLevel"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <StatusIndicator Title="Brake Life" Message="@($"{SensorsSummary.BrakeLife} Miles")"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public SensorsSummary SensorsSummary { get; set; } = default!;
}
